.element-description {
  padding: 16px;
}

.element-description-attribution {
  opacity: 0.5;
}

.table-container {
  height: 270px;
  overflow-y: scroll;
}

.thumb-nail {
  width: 64px;
  vertical-align: middle;
  padding-right: 32px;
}

.markets-container {
  padding: 16px;
}

table td,
table th {
  padding: 2px 20px;
}

.stats-label {
  opacity: 0.8;
}
